body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #114B5F;
  margin: 0; 
}

nav {
  background-color: #114B5F;
  margin: 0; 
  height: 40px; 
}

.profile_name {
  float: left;
  padding-left: 100px;
  color: #EEEBD3;
  font-size: 18px;
  line-height: 40px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topdiv {
  float: left;
  padding-left: 95px;
}

.topmenu {
  color: #d4eae9;
  text-decoration: none;
  padding: 0 10px;
  font-size: 18px;
  line-height: 40px; 
}
.current {
  color: #76BCB8;
  text-decoration: none;
  padding: 0 10px;
  font-size: 18px;
  line-height: 40px; 
}

.topmenu:hover {
  color: #1C7C9C;
}



.container {
  display: flex;
}

/* Home */

.home {
  display: flex;
  align-items: center;
}

#home h1 {
  font-size: 20px;
  margin-left: 105px; 
  margin-top: 250px;
  color: #d4eae9;
}

#home h2 {
  font-size: 50px;
  margin-left: 105px;
  margin-top: -5px; 
  color: #d4eae9;
}

#home p {
  font-size: 20px;
  color: #e1e3e2;
  margin-left: 105px; 
  margin-top: -20px;
}

/* About me */

.about {
  display: flex;
  align-items: center;
}

#about h1 {
  font-size: 30px;
  margin-left: 105px; 
  margin-top: 100px;
  color: #d4eae9;
}

#about p {
  font-size: 20px;
  color: #e1e3e2;
  margin-left: 105px; 
  margin-top: 20px;
}

/* Skills */

.skills {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  flex-wrap: wrap; 
  padding-top: 50px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px; 
  padding-left: 30px;
  padding-top: 50px;
}

.skill img {
  height: 30px; 
}

.skill p {
  margin-top: 10px;
  color: #EEEBD3;
}


#skills h1 {
  font-size: 20px;
  margin-left: 105px; 
  margin-top: 120px;
  color: #d4eae9;
}

.project {
  display: flex;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  color: #d4eae9;
  margin-left: 105px; 
  margin-right: 300px; 
}

.project-details {
  flex: 1;
  padding: 20px;
}

.project-details h2 {
  margin-top: 0;
  color: #d4eae9;
}

.project-details p {
  color: #d4eae9;
}

.technologies-used {
  margin-top: 20px;
  color: #d4eae9;
}

.technologies-used h3 {
  margin-top: 0;
  color: #d4eae9;
}

.project-image {
  flex: 1;
  text-align: center;
}

.project-image img {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding-left: 350px;
}

.project-title {
  font-size: 30px;
  margin-left: 105px; 
  margin-top: 50px;
  color: #d4eae9;
}

.contact {
  display: flex;
  align-items: center;
}

#contact h1 {
  font-size: 30px;
  margin-left: 105px; 
  margin-top: 100px;
  color: #d4eae9;
  text-align: center;
}

#contact p {
  font-size: 20px;
  color: #e1e3e2;
  margin-left: 105px; 
  margin-top: 20px;
  text-align: center;
}

.contact-logos {
  text-align: center;
  margin-left: 105px; 
}

.contact-logo {
  width: 50px; 
  height: auto;
  margin: 10px; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin-left: 430px;
  text-align: center;
  margin-bottom: 30px;
  
}

label {
  color: #e1e3e2;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #114B5F;
  background-color: white; 
}

input[type="submit"] {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #685F71;
  color: #EEEBD3;
  cursor: pointer;
}
